@font-face {
	font-family:'envy_code';
	src:url("/envy_code_r.ttf") format("truetype")
}

a {
	color:#6c71c4;
}
a:hover {
	color:#2aa198;
}

body {
	background-color:#fdf6e3;
}

body > .main {
	font-family:"envy_code","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
	min-width:300px;
	width:80%;
	margin:auto;
	color:#6c71c4;
}
.done {
	color:green;
	font-size:1.4em;
}
.todo {
	color:red;
	font-size:1.4em;
}
.main > header {
	height:160px;
}

header > .logo {
	float:left;
}
header > .logo>img {
	float:left;
	height:150px;
}
header > .logo>h1 {
	float:right;
	margin-left:40px;
	margin-top:55px;
	font-weight:bold;
	font-size:3em;
}

header .overview {
	margin-left:auto;
	margin-right:0;
	padding-top: 40px;
	width:38em;
}

header .overview > nav {
	padding:15px 0;
	border-radius:15px;
	background-color:#cb4b16;
}
header .overview > nav > a {
	padding:10px;
	text-decoration:none;
	font-weight:bold;
	font-size:1.2em;
}

.content >div > h1 {
	text-align:center;
	font-size:2.5em;
}
.main > .menu {
	padding-top:50px;
	width:200px;
	height:400px;
	float:left;
}
.menu > nav >a {
	padding-top:10px;
	display:block;
}	
.main > .content {
	padding-left:200px;
}


