---
layout: default.liquid
---
<div>
	<h1>What is Persy</h1>
	<h4>Persy is an attempt to write a transactional storage engine in Rust</h4>
	<br/><br/>
	<h2>Main Concepts</h2>
	<h3>Storage</h3>
	<p>Persy is a single file storage engine, all the data, referencing structures and logs are kept in a single file</p>
	<h3>Transactions</h3>
	<p>Persy support read-committed transactions, using copy on write to guarantee high concurrency and isolation, the data consistency is guaranteed by a transaction log that recover the operations in case of crash</p>
	<h3>Segments</h3>
	<p>Persy provide segments to organize records of different kinds and allow the scan on a single segment</p>
	<h3>Indexes</h3>
	<p>Persy provide index implementation that can be used to associate any simple value to another value or a record reference </p>
	<h3>Records</h3>
	<p>In Persy a record is a simple <code>Vec&lt;u8&gt;</code>, the content of the record is ignored by Persy, is just stored and retrieved on request</p>
	<br>
	<br>
</div>
