      </div>
      <br/>
      <br/>
      <br/>
      <p style="text-align:center"> <a href="/posts/wrong-colors.html"> What's wrong with the colors of this website ?</a></p> 
      <br/>
      <br/>
      <p style="text-align:center"> <a href="https://gitlab.com/tglman/site-persy.rs"> Web Site Source </a></p>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="/piwik/piwik.php?idsite=3&rec=1" style="border:0;" alt="" /></p></noscript>
	<!-- End Piwik Code -->
