	    <div class="main">
	    <header>
		    <a class="logo" href="/" alt="Persy Logo"> <img src="/logo.png"/><h1>Persy.rs</h1> </a> 
		    <div class="overview">
		    <nav>
			    <a href="https://gitlab.com/tglman/persy"> Source Repo </a>
			    <a href="https://crates.io/crates/persy"> Crates.io </a> 
			    <a href="https://mastodon.technology/@persy_rs"> Mastodon </a> 
			    <a href="https://gitlab.com/tglman/persy/issues"> Issues </a>
			    <a href="mailto:dev@persy.rs"> Contact </a>
		    </nav>
		    </div>
	    </header>
	    <section class="menu">
		    <nav>
			    <a href="/"> What's Persy </a><br/>
			    <a href="/posts/changelog.html">Change Log</a><br/>
			    <a href="/posts/roadmap.html">Roadmap</a><br/>
			    <a href="/posts/persy-0.8.html"> Persy 0.8 Release</a><br/>
			    <a href="/posts/getting-started.html">Getting Started</a><br/>
			    <a href="/posts/structure.html">Internal Storage Structure</a><br/>
			    <a href="/posts/old-releases.html">Old Releases</a><br/>
			    <a href="/posts/tools.html">Tools</a><br/>
			    <a href="/posts/used_by.html">Used By</a><br/>
			    <!-- <a href="/posts/hcc-api.html"> High Consistency Concurrency API </a><br/> --> 
		    </nav>

	    </section>
