<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	<link href="/css/main.css" rel="stylesheet"/>
        <title>Persy.rs</title>
    </head>
    <body>
{% include 'page_header.liquid' %}
      <section class="content">
        {{ page.content }}
      </section>
{% include 'page_footer.liquid' %}
    </body>
</html>

