<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	<link href="/css/main.css" rel="stylesheet"/>
        <title>Persy.rs - {{ page.title }}</title>
    </head>
    <body>
{% include 'page_header.liquid' %}
      <section class="content">
<div>
  <h1>{{ page.title }}</h1>
  <p>
    {{page.content}}
  </p>
</div>
      </section>
{% include 'page_footer.liquid' %}
    </body>
</html>

